nav{
    display: flex;
    justify-content: space-between;
    padding: 2% 20%;
    align-items: center;
}
*{
    margin: 0px;
    padding: 0px;
}



.links{
    margin-left: 90px;
}
.links ul li{



    margin:5px;
    display: inline-block;
}
.Hero{
    background-image: url("https://mit-canteen.netlify.app/assets/images/footer-illustration.webp");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    background-color: gainsboro;
}
button{
    flex:1;
    text-align: right;
    border-radius: 32px;
    padding: 10px 19px;
    background-color: transparent;
    border:1px solid red;
    box-shadow: 2px 2px 2px 2px solid red;
    color:white;
    cursor:pointer;
    transition:0.2s;
    margin:10px;

}
button:hover{
    border:1px solid green;
}
.container{
    background-color: black;
    color:white;
}
a{
    text-decoration: none;
}
.container h2 {
text-decoration: none;
color: white;
}


/*
@media(max-width:900px){
    .second-container{
     flex-direction: column;
     margin:0 20px;
 
    }
    

}


.second-container{
    width:80%;
    margin: auto;

}

.left img {
    width:400px;
    height:300px;
margin-top: 20px;
float:left;
margin: 20px;
flex: 1;
}



.row p{
    font-size: 25px;
}


.second{
    padding: 50px 0;
    
}
.second-container,.left{

   
    display: flex;

}
.left img{
    width:250px;
}
.left{
    width: 60%;
}
.right{
    width:60%;
}

.second p{
    padding:  0;
    margin: 20px 30px;
}
.second h2{
    text-align: center;
    margin-bottom: 40px;
}



.container{
    max-width: 1440px;

}
.about-text{
    flex:1 1 400px;
    padding: 30px;
    margin: 20px;
}

*/
.row-lg{
    display: flex;
justify-content: center;
    margin: 100px 0;
}
.col-1{
    flex-basis: 60%;
    position: relative ;
margin: auto;
}
@media(max-width:700px){
    .row-lg{
        flex-direction: column;
        padding:0 20px;
    }
    .col-1 h2,p{
        font-size: 16px;
    }
}
.col-1 h2{
    font-size: 30px;
}

.col-2{
    position: relative;
    flex-basis:40%;
    display: flex;
    align-items: center;

}
.col-1 p{
    font-size: 25px;
    margin: 10px;
}
.col2 img{
    width: 90%;
    object-fit: cover;
}

.about-image{
    flex:1 1 400px;
    padding: 30px;
}
.col-1{
    margin: auto;
}
.col-2{
margin: auto;
}
.about-wrapper
{
    flex-wrap: wrap;
    align-items: center;

    display: flex;

}
.about-image img{
   
    height:400px;
   
}


.row-lg{
    display: flex;

  justify-content: center;
  align-items: center;
}
.image-gallery img{
    width:300px;
}
#about{
    padding: 50px 0;
}
