*{
    margin:0px;
    padding: 0px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}nav img {
    width:150px;
    margin: 0 20px;;
}
.right{
    background-color: black;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    padding: 30px;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-content{
    position: absolute;
    top:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    left: 50%;
}
.right p{
    display: inline-block;
    margin: 5px;
}
.Hero{
    background-image: url("https://tse1.mm.bing.net/th?id=OIP.B0GATB7iNKPlkTks3paFfgHaHf&pid=Api&P=0&h=220");
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    min-height: 100vh;

}